// common
$font-family-base: 'Open Sans', Arial, sans-serif;

$color-base:      #fff;
$color-secondary: #1b1b1b;
$color-tertiary:  #000;

$digits-panel-color:   #d6d7d9;
$operands-panel-color: #f79012;

// calculator
$calculator-width:  480px;
$calculator-height: 720px;

// result screen
$result-screen-font-size:  112px;
$result-screen-text-color: #fff;

// panels
$panel-font-size:         48px;
$panel-font-size-operand: 80px;